* {
    font-family: CaskaydiaMono Nerd Font;
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    background: transparent;
    color: #cdd6f4;
}
tooltip{
  padding:2px;
  background:#1e1e2e;
}
#cpu,
#memory,
#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#backlight {
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 2px;
}
#workspaces {
    margin-right:10px;
    padding: 0px 10px;
}
#custom-screenrecording-indicator {
  min-width: 12px;
  margin:0px 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
#workspaces button {
    all:initial;
    padding: 0.05rem;
    min-height: 0;
   color: #cdd6f4;

}

#taskbar button{
  all:initial;
  padding: 0 10px;
}
#window {
    margin-left:-15px;
    border-radius: 0px 10px 10px 0px;
}

#battery.critical {
    color: #ffa500;
}
